PORT=4000
JWT_SECRET=secretkey
DB_HOST=dbhost
DB_NAME=dbname
# leave empty if none is setup
DB_USERNAME=
# leave empty if none is setup
DB_PASSWORD=
ADMIN_EMAIL=admin@gmail.com
MAIL_ACCOUNT=company@gmail.com
MAIL_PASSWORD=pwd