<p>Bonjour {{firstname}},</p>
<p>Votre compte a été créé avec succès,</p>
<p>Vous trouverez ci-dessous vos informations d'identification : </p>

<p>
    <ul>
        <li>Email : {{email}}</li>
        <li>Mot de passe : <b>{{password}}</b></li>
    </ul>
</p>

<p><b>Products Store Team</b></p>